#pragma once

#include <stdint.h>

// WiFi
const char* const networkSsid = "";
const char* const networkPwd = "";

// OTA
const char* const otaPassword = "";

// MQTT
const char* const mqttBroker = "";
const uint16_t mqttPort = 1883;
const char* const mqttClientId = "";
const char* const mqttUsername = "";
const char* const mqttPassword = "";
