#pragma once

#include <stdint.h>

// WiFi
const char* const networkSsid = "";
const char* const networkPwd = "";

// OTA
const char* const otaPassword = "";

// MQTT
const char* const mqttUsername = "";
const char* const mqttPassword = "";
